{{!-- <div class="row align-center mb-5"> --}}
      {{!-- <div>
        <h1>The Tech Blog</h1>
      </div> --}}
  
  {{#each blogs as |blog| }}
  <div>
    <div class="row mt-4" style="background-color: brown;">
      <div class="col-md-6">
        {{blog.title}}
      </div>
      
      <div class="col-md-6" >
        Posted by {{blog.user.name}} on {{format_date blog.date_created}}
      </div>
    </div>
    <div>{{blog.content}}</div>
  </div>
  <br>
  {{/each}}
