<div class="row align-center mb-5">
  <h1>The Tech Blog</h1>

  {{#each blogs as |blog| }}
    <p> {{blog.title}}</p>
    <p> {{blog.content}}</p>
    <p> {{blog.user.name}}</p>
    <p> {{blog.date_created}}</p>
  {{/each}}
</div>